<div class="container">
  <div *ngIf="!isSuccess" class="container-inner">
    <app-text content="Security" type="header-md" />
    <div class="form-container">
      <div class="form-container-title">
        <fa-icon [icon]="lockIcon" />
        <app-text content="Change Password" [isBold]="true" />
      </div>
      <form class="form" #changePasswordForm="ngForm" (ngSubmit)="onSubmit()">
        <app-input
          label="Current password"
          placeholder="Current password"
          label="Enter current password"
          name="oldPassword"
          [(ngModel)]="oldPassword"
          [fullWidth]="true"
          [errorMsg]="oldPasswordError"
          required
          type="password"
        />
        <app-input
          label="New password"
          placeholder="New password"
          label="Enter new password"
          [(ngModel)]="newPassword"
          name="newPassword"
          [fullWidth]="true"
          [errorMsg]="newPasswordError"
          required
          type="password"
        />
        <app-input
          label="Confirm new password"
          placeholder="Confirm new password"
          label="Confirm new password"
          [fullWidth]="true"
          [(ngModel)]="confirmNewPassword"
          [errorMsg]="confirmNewPasswordError"
          name="confirmNewPassword"
          required
          type="password"
        />
        <div class="form-actions">
          <app-button variant="outlined" (click)="onCancelClick()">
            Cancel
          </app-button>
          <app-button type="submit" [isLoading]="isLoading">
            Change password
          </app-button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="isSuccess" class="success-container">
    <div class="title">
      <app-text type="subheader" content="Password changed" />
      <fa-icon [icon]="circleCheckIcon" class="success-icon" size="5x" />
    </div>
    <div class="main">
      <app-text content="Please proceed sign in with new password" />
    </div>
    <app-button (click)="onSignIn()">Sign in</app-button>
  </div>
</div>
