.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .main {
    display: flex;
    gap: 16px;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
