<div class="container">
  <app-text content="My Profile" type="header-sm" />
  <div class="main">
    <div class="avatar-image">
      <img src="assets/images/avatar.png" />
    </div>
    <div>
      <app-text content="Status" [isBold]="true" />
      <app-text content="Active" color="primary" />
    </div>
  </div>
  <div class="profile-info" *ngIf="!isEditing">
    <div class="section">
      <app-text content="First Name" [isBold]="true" />
      <app-text [content]="user?.firstName ?? ''" />
    </div>
    <div>
      <app-text content="Last Name" [isBold]="true" />
      <app-text [content]="user?.lastName ?? ''" />
    </div>
    <div>
      <app-text content="User Name" [isBold]="true" />
      <app-text [content]="user?.username ?? ''" />
    </div>
    <div *ngIf="user?.userType === 'student'">
      <app-text content="Date of birth" [isBold]="true" />
      <app-text [content]="getStudent()?.dateOfBirth ?? ''" />
    </div>
    <div *ngIf="user?.userType === 'student'">
      <app-text content="Address" [isBold]="true" />
      <app-text [content]="getStudent()?.address ?? ''" />
    </div>
    <div>
      <app-text content="Email" [isBold]="true" />
      <app-text [content]="user?.email ?? ''" />
    </div>
  </div>
  <div *ngIf="isEditing">
    <app-input label="First name" />
    <app-input label="Last name" />
    <app-input label="User name" />
    <app-input label="Date of birth" />
    <app-input label="Address" />
    <app-input label="Email" />
  </div>
</div>
