<div class="container" [ngClass]="{ 'editing-border': isEditing }">
  <app-text content="My Profile" type="header-sm" />
  <div class="main">
    <div class="avatar-image">
      <img src="assets/images/avatar.png" />
    </div>
    <div>
      <app-text
        content="Status"
        [isBold]="true"
        [ngClass]="{ 'active-status': isActive }"
      />
      <app-text
        content="{{ isActive ? 'Active' : 'Offline' }}"
        color="primary"
        [ngClass]="{ 'active-status': isActive }"
      />
    </div>
  </div>
  <div class="profile-info" *ngIf="!isEditing">
    <div class="section">
      <app-text content="First Name" [isBold]="true" />
      <app-text [content]="user?.firstName ?? ''" />
    </div>
    <div>
      <app-text content="Last Name" [isBold]="true" />
      <app-text [content]="user?.lastName ?? ''" />
    </div>
    <div>
      <app-text content="User Name" [isBold]="true" />
      <app-text [content]="user?.username ?? ''" />
    </div>
    <div *ngIf="user?.role === 'student'">
      <app-text content="Date of birth" [isBold]="true" />
      <app-text [content]="getStudent()?.dateOfBirth ?? ''" />
    </div>
    <div *ngIf="user?.role === 'student'">
      <app-text content="Address" [isBold]="true" />
      <app-text [content]="getStudent()?.address ?? ''" />
    </div>
    <div *ngIf="user?.role === 'trainer'">
      <app-text content="Specialization" [isBold]="true" />
      <app-text
        [content]="getTrainer()?.specialization?.specialization ?? ''"
      />
    </div>
    <div>
      <app-text content="Email" [isBold]="true" />
      <app-text [content]="user?.email ?? ''" />
    </div>
  </div>
  <form
    id="profile-form"
    *ngIf="isEditing"
    #profileForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <app-input
      name="firstName"
      label="First name"
      placeholder="First name"
      [fullWidth]="true"
      [(ngModel)]="firstName"
      [errorMsg]="firstNameErrorMsg"
      required
    ></app-input>
    <app-input
      name="lastName"
      label="Last name"
      placeholder="Last name"
      [fullWidth]="true"
      [(ngModel)]="lastName"
      [errorMsg]="lastNameErrorMsg"
      required
    ></app-input>
    <app-input
      name="userName"
      label="Username"
      placeholder="Username"
      [fullWidth]="true"
      [(ngModel)]="username"
      [errorMsg]="usernameErrorMsg"
      required
    ></app-input>
    <app-input
      name="dateOfBirth"
      *ngIf="user?.role === 'student'"
      label="Date of birth (optional)"
      placeholder="Date of birth"
      [fullWidth]="true"
      [(ngModel)]="dateOfBirth"
    ></app-input>
    <app-input
      name="address"
      *ngIf="user?.role === 'student'"
      label="Address (optional)"
      placeholder="Address"
      [fullWidth]="true"
      [(ngModel)]="address"
    ></app-input>
    <app-input
      name="email"
      label="Email"
      placeholder="Email name"
      [(ngModel)]="email"
      [errorMsg]="emailErrorMsg"
      email
      required
    ></app-input>
    <app-select
      name="specialization"
      *ngIf="user?.role === 'trainer'"
      label="Specialization"
      [options]="specializations"
      [(ngModel)]="specialization"
      [errorMsg]="specializationErrorMsg"
      required
    />
  </form>
</div>
