<div class="container">
  <app-text type="header" content="Join us"> </app-text>
  <app-join-us-box
    type="trainer"
    title="Register as Trainer"
    description="Join our community of expert trainers and share your knowledge with students worldwide. Create and manage your own courses and engage with learners!"
    imgUrl="assets/images/register-as-trainer.png"
    path="/register?userType=trainer"
  />
  <app-join-us-box
    type="student"
    title="Register as Student"
    description="Explore a wide range of courses and learn at your own pace with our flexible learning options. Interact with expert trainers, participate in discussions, and track your progress easily!"
    imgUrl="assets/images/register-as-student.png"
    path="/register?userType=student"
  />
</div>
