<div class="container">
  <div class="title-section">
    <app-text [content]="'Hi, ' + userFirstName + '!'" type="subheader" />
    <app-text
      content="Welcome to Learn Platform - where every day is a day to learn. Dive into
      the vast ocean of knowledge and empower yourself with the tools for a
      successful tomorrow. Happy learning!"
      color="grey"
    />
  </div>
  <div class="whats-new-section">
    <app-text content="What's new?" type="subheader" />
    <div class="description">
      <app-text
        content="Do consectetur proident proident id eiusmod deserunt consequat pariatur ad
      ex velit do Lorem reprehenderit."
        color="grey"
      />
    </div>
    <div class="articles">
      <app-box
        tag="Do consectetur"
        title="Aliqua Irure Tempor Lorem Occaecat Volup"
        imgUrl="assets/images/article-1.png"
      />
      <app-box
        tag="Consequat labore"
        title="Commodo Deserunt Ipsum Occaecat Qui"
        imgUrl="assets/images/article-2.png"
      />
      <app-box
        tag="Laboris nulla"
        title="Deserunt Cccaecat Qui Amet Tempor Dolore"
        imgUrl="assets/images/article-3.png"
      />
    </div>
  </div>
  <app-button>Read more articles</app-button>
</div>
