$primary-100: #e1dff8ff;
$primary-200: #cfcbf3ff;
$primary-300: #6355d8ff;
$primary-400: #4d3ed3ff;
$primary-500: #3d2dc7ff;

$secondary-100: #60cfa5ff;
$secondary-200: #36b584ff;
$secondary-300: #2f9c72ff;

$important-100: #ed5d56ff;
$important-200: #d9534f;
$important-300: #c9302c;

$red-100: #f22128ff;
$red-200: #d20c13ff;

$grey-50: #fafafbff;
$grey-100: #f8f9faff;
$grey-200: #dee1e6ff;
$grey-300: #9095a0ff;
$grey-500: #424955;
$grey-900: #171a1fff;
