<div class="container">
  <div class="title">
    <app-text content="Trainings" type="subheader" />
  </div>
  <app-button color="secondary">Add training</app-button>
  <div class="search-container">
    <app-text content="Search trainings" type="header-md" />
    <div>
      <div class="search-inputs">
        <app-input placeholder="First name" label="First name" />
        <app-input placeholder="Specialization" label="Specialization" />
      </div>
      <app-button color="primary">Search</app-button>
    </div>
  </div>
  <div class="trainings-table">
    <app-text content="My passed trainings" type="header-md" />
    <app-table [columns]="columns" [rows]="rows" />
  </div>
</div>
