<div class="container">
  <app-text content="Let's start learning" type="header" />
  <app-text
    color="grey"
    content="Welcome to Learn Platform - where every day is a day to learn. Dive into
    the vast ocean of knowledge and empower yourself with the tools for a
    successful tomorrow. Happy learning!"
    class="welcome-text"
  />
  <div class="video-container">
    <video
      src="https://videos.pexels.com/video-files/4974711/4974711-hd_1280_720_25fps.mp4"
      autoplay
      loop
      class="video"
      muted
    ></video>
  </div>
  <div class="join-us-container">
    <div class="join-us-content">
      <app-text content="Join us" type="subheader" color="primary" />
      <app-text
        content="Qui ut exercitation officia proident enim non tempor tempor ipsum ex
      nulla ea adipisicing sit consequat enim elit cupidatat o"
      />
      <app-button>Join us</app-button>
    </div>
  </div>
</div>
