<div class="footer">
  <div class="features">
    <img src="assets/images/logo.png" width="131" height="48" />
    <div class="section">
      <app-text type="header-sm" content="Products" />
      <app-text content="Features" />
      <app-text content="Pricing" />
    </div>
    <div class="section">
      <app-text content="Resources" type="header-sm" />
      <app-text content="Blog" />
      <app-text content="User guides" />

      <app-text content="Webinars" />
    </div>
    <div class="section">
      <app-text content="Company" type="header-sm" />
      <app-text content="About us" />
      <app-text content="Contact us" />
    </div>
    <div class="section">
      <app-text
        content="Subscribe to our newsletter"
        type="header-sm"
        color="primary"
      />
      <app-text content="For product announcement and exclusive insights" />
      <div class="subscribe-container">
        <app-input placeholder="Input your email" />
        <app-button>Subscribe</app-button>
      </div>
    </div>
  </div>
  <div class="info">
    <app-text content="English" />
    <app-text content="© 2023 Learn, Inc. Privacy. Terms" />
    <div>icons</div>
  </div>
</div>
