<div class="input-container">
  <p class="label" [class.error]="!!errorMsg">{{ label }}</p>
  <input
    class="input"
    type="text"
    [name]="name"
    [class.error]="!!errorMsg"
    [class.fullWidth]="fullWidth"
    [disabled]="isDisabled"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [type]="type"
    (ngModelChange)="onValueChange($event)"
  />
  <div class="error-msg-container">
    <fa-icon *ngIf="!!errorMsg" [icon]="warningIcon" class="error-icon" />
    <p class="error-msg">{{ errorMsg }}</p>
  </div>
</div>
